@import "tailwindcss";

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/bebas.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.bebas {
  font-family: 'Bebas Neue', sans-serif;
}

@font-face {
  font-family: 'Dahlia';
  src: url('/fonts/dahlia-regular.otf') format('opentype');
  font-style: normal;
}

.dahlia-medium {
  font-family: 'Dahlia', sans-serif;
}